body{
    font-family: Arial;
    background: linear-gradient(135deg,#2d1045,#790691);
    margin:0;
    padding:0;
    color:white;
}

.container{
    width:100%;
    max-width: 600px;
    margin:auto;
    padding:20px;
    text-align:center;
    float: left;
}
.grafiquita{
    width:900px;
    height: 100vh;
    margin: 0 auto;
    padding:20px;
    align-items: center;
    text-align:center;
    float: right;
    color: white
}

h1{
    margin-bottom:5px;
}

.form{
    background:rgba(255,255,255,0.1);
    padding:20px;
    border-radius:10px;
    margin-bottom:20px;
}

input{
    width:90%;
    padding:8px;
    margin:5px;
    border:none;
    border-radius:5px;
}

button{
    padding:10px 20px;
    border:none;
    background:#6d43a1;
    color:rgb(224, 187, 255);
    font-weight:bold;
    border-radius:6px;
    cursor:pointer;
}

button:hover{
    background:#cea9ff;
    color:#6d43a1;
}

.resultados{
    background:rgba(255,255,255,0.1);
    padding:15px;
    border-radius:10px;
    margin-bottom:20px;
    text-align:left;
}

#pasos{
    text-align:left;
    max-height:200px;
    overflow:auto;
}

canvas{
    background:rgb(51, 40, 64);
    border-radius:10px;
    color: white;
}
